general:
  debug: False
  name: emabot-eth
  hist_file: eth-history-1m-ohlc.csv
  log_dir: log/
  data_dir: data/
  # coinbase api stuff
  key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  passphrase: xxxxxxxxxxx
  b64secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  pair: ETH-USD
