general:
  debug: False
  name: emabot-eth
  hist_file: csv/eth-history-1m-ohlc.csv
  log_dir: log/
  data_dir: data/
  # coinbase api stuff
  key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  passphrase: xxxxxxxxxxx
  b64secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  # This is the "wallet". Example: For BTC-USD, currency is USD. For ETH-BTC, currencty is BTC.
  currency: USD
  # Currency should match the second half (USD in this case)
  pair: ETH-USD
  send_email: True
  monitor_alert_change: -1.0

email:
  mail_host: mail.example.com
  mail_from: foo@example.com
  mail_to: example@example.com
