general:
  debug: False
  name: emabot-eth
  hist_file: eth-history-1m-ohlc.csv
  log_dir: log/
  data_dir: data/
  # coinbase api stuff
  key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  passphrase: xxxxxxxxxxx
  b64secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  pair: ETH-USD
  send_email: True
  monitor_alert_change: -1.0

email:
  mail_host: mail.example.com
  mail_from: foo@example.com
  mail_to: example@example.com
